<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<connectionStrings>
            <add name="ComplianceFactorsEntities" connectionString="metadata=res://*/ComplianceFactors_Entities.csdl|res://*/ComplianceFactors_Entities.ssdl|res://*/ComplianceFactors_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lavender.arvixe.com;initial catalog=ComplianceFactors;persist security info=True;user id=Compliance;password=A1b2c3d4;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        </connectionStrings>
    </appSettings>-->

</configuration>