<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <!--
    <add name="ComplianceFactorsConnectionString" 
         connectionString="Data Source=localhost;Initial Catalog=ComplianceFactors;Persist Security Info=True;User ID=sa;Password=root" 
         providerName="System.Data.SqlClient" />
    -->
    <add name="ComplianceFactorsConnectionString" connectionString="Data Source=lavender.arvixe.com;Initial Catalog=ComplianceFactors;Persist Security Info=True;User ID=Compliance;Password=A1b2c3d4" providerName="System.Data.SqlClient" />
    <add name="ComplianceFactorsEntities" connectionString="metadata=res://*/ComplianceFactors_Entities.csdl|res://*/ComplianceFactors_Entities.ssdl|res://*/ComplianceFactors_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lavender.arvixe.com;initial catalog=ComplianceFactors;persist security info=True;user id=Compliance;password=A1b2c3d4;multipleactiveresultsets=True;App=EntityFramework&quot;"  providerName="System.Data.EntityClient" />
      <!-- <add name="Enrollments" connectionString="metadata=res://*/Enrollments.csdl|res://*/Enrollments.ssdl|res://*/Enrollments.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=lavender.arvixe.com;Initial Catalog=ComplianceFactors;Persist Security Info=True;User ID=Compliance;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!-- <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

      <roleManager enabled="false">
          <providers>
              <clear />
              <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
              <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
          </providers>
      </roleManager>
-->
    <webServices>
      <protocols>
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>