<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <connectionStrings>
        <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />

<!--
        <add name="ComplianceFactorsEntities" connectionString="metadata=res://*/ComplianceFactors_Entities.csdl|res://*/ComplianceFactors_Entities.ssdl|res://*/ComplianceFactors_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ComplianceFactors;persist security info=True;user id=sa;password=br****95;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->

        <add name="ComplianceFactorsEntities" connectionString="metadata=res://*/ComplianceFactors_Entities.csdl|res://*/ComplianceFactors_Entities.ssdl|res://*/ComplianceFactors_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ComplianceFactors;persist security info=True;user id=sa;password=root;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        
  </connectionStrings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>

    <webServices>
      <protocols>
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>